*{
    font-size: 1.5rem;
    text-align: center;
}

.l-header{
grid-area: header;
}

.l-aside1{
grid-area: aside1;
}

.l-main{
grid-area:main
}
.l-aside2{
grid-area: aside2;
}

.l-footer{
grid-area: footer;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "header header header"
    "aside1 main main"
    "aside2 aside2 aside2"
    "footer footer footer";
    gap: 10px;
    padding: 10px;
    margin: 0 auto;
    max-width: 1200px;
}

.box{
    background: red;
    border: 2px solid black;
    border-radius: 10px;

}

.l-header{
   background-color: aquamarine;
    }
    
    .l-aside1{
    background-color: rgb(213, 125, 248);
    }
    
    .l-main{
       background-color: bisque;
    }

    .l-aside2{
        grid-column: 1/4;
        grid-row: 3;
    }
    
    .l-footer{
        background-color: rgb(228, 201, 201);
    }